.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container .left-side {
  display: flex;
  min-width: 4vw;
  width: 12vw;
  max-width: 24vw;
  height: 100vh;

  border-right: 1px solid #282c34;
}

.container .layout-main {
  display: flex;
  min-width: 76vw;
  width: 88vw;
  max-width: 96vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.layout-main .active-bar {
  display: flex;
}

.layout-main .main {
  display: flex;
}





